Notebook is clean. Push to github.

We've included 2 solutions here. There are also many other ways of formatting this data. Don't wory if you haven't done it exactly like we have.... this is just guide and not a bible.

In [1]:
import pandas as pd
import requests
from datetime import datetime
import pytz

# Solution using a for loop

First we need to take a look at the JSON so we know what we're dealing with.
- We can view what the JSON contains by checking out the [documentation on the OWM website](https://openweathermap.org/forecast5)
- Or this can be done manually, like below:

In [2]:
city = 'Berlin'
API_key = '7b06eb360cd2211667fee2a00f044e8e'

# check out the docs for more info on making an api call https://openweathermap.org/forecast5

url = (f"http://api.openweathermap.org/data/2.5/forecast?q={city}&appid={API_key}&units=metric")
response = requests.get(url)
json = response.json()
json

{'cod': '200',
 'message': 0,
 'cnt': 40,
 'list': [{'dt': 1680706800,
   'main': {'temp': 7.65,
    'feels_like': 6.42,
    'temp_min': 7.22,
    'temp_max': 7.65,
    'pressure': 1014,
    'sea_level': 1014,
    'grnd_level': 1016,
    'humidity': 53,
    'temp_kf': 0.43},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': {'all': 83},
   'wind': {'speed': 2.04, 'deg': 332, 'gust': 2.75},
   'visibility': 10000,
   'pop': 0.58,
   'rain': {'3h': 0.74},
   'sys': {'pod': 'd'},
   'dt_txt': '2023-04-05 15:00:00'},
  {'dt': 1680717600,
   'main': {'temp': 6.1,
    'feels_like': 6.1,
    'temp_min': 5.22,
    'temp_max': 6.1,
    'pressure': 1018,
    'sea_level': 1018,
    'grnd_level': 1016,
    'humidity': 64,
    'temp_kf': 0.88},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10n'}],
   'clouds': {'all': 90},
   'wind': {'speed': 0.71, 'deg': 38, 'gust': 0.95},
   'visibility': 10000,
   'pop': 0.52,
   'rain': {'3h': 0.48},
   'sys': {'pod': 'n'},
   'dt_txt': '2023-04-05 18:00:00'},
  {'dt': 1680728400,
   'main': {'temp': 3.85,
    'feels_like': 2.41,
    'temp_min': 3.85,
    'temp_max': 3.85,
    'pressure': 1022,
    'sea_level': 1022,
    'grnd_level': 1016,
    'humidity': 76,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10n'}],
   'clouds': {'all': 85},
   'wind': {'speed': 1.67, 'deg': 163, 'gust': 2.62},
   'visibility': 10000,
   'pop': 0.2,
   'rain': {'3h': 0.15},
   'sys': {'pod': 'n'},
   'dt_txt': '2023-04-05 21:00:00'},
  {'dt': 1680739200,
   'main': {'temp': 2.16,
    'feels_like': 0.18,
    'temp_min': 2.16,
    'temp_max': 2.16,
    'pressure': 1022,
    'sea_level': 1022,
    'grnd_level': 1016,
    'humidity': 82,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04n'}],
   'clouds': {'all': 60},
   'wind': {'speed': 1.9, 'deg': 180, 'gust': 3.28},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2023-04-06 00:00:00'},
  {'dt': 1680750000,
   'main': {'temp': 1.03,
    'feels_like': -0.69,
    'temp_min': 1.03,
    'temp_max': 1.03,
    'pressure': 1022,
    'sea_level': 1022,
    'grnd_level': 1016,
    'humidity': 82,
    'temp_kf': 0},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02n'}],
   'clouds': {'all': 20},
   'wind': {'speed': 1.57, 'deg': 182, 'gust': 2.25},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2023-04-06 03:00:00'},
  {'dt': 1680760800,
   'main': {'temp': 2.19,
    'feels_like': 0.59,
    'temp_min': 2.19,
    'temp_max': 2.19,
    'pressure': 1022,
    'sea_level': 1022,
    'grnd_level': 1017,
    'humidity': 76,
    'temp_kf': 0},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02d'}],
   'clouds': {'all': 18},
   'wind': {'speed': 1.61, 'deg': 147, 'gust': 2.3},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2023-04-06 06:00:00'},
  {'dt': 1680771600,
   'main': {'temp': 7.11,
    'feels_like': 5.29,
    'temp_min': 7.11,
    'temp_max': 7.11,
    'pressure': 1022,
    'sea_level': 1022,
    'grnd_level': 1017,
    'humidity': 55,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 5},
   'wind': {'speed': 2.64, 'deg': 146, 'gust': 3.45},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2023-04-06 09:00:00'},
  {'dt': 1680782400,
   'main': {'temp': 10.14,
    'feels_like': 8.18,
    'temp_min': 10.14,
    'temp_max': 10.14,
    'pressure': 1021,
    'sea_level': 1021,
    'grnd_level': 1016,
    'humidity': 37,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01d'}],
   'clouds': {'all': 10},
   'wind': {'speed': 2.5, 'deg': 151, 'gust': 3.09},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2023-04-06 12:00:00'},
  {'dt': 1680793200,
   'main': {'temp': 10.84,
    'feels_like': 8.84,
    'temp_min': 10.84,
    'temp_max': 10.84,
    'pressure': 1020,
    'sea_level': 1020,
    'grnd_level': 1015,
    'humidity': 33,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': {'all': 90},
   'wind': {'speed': 2.44, 'deg': 130, 'gust': 2.67},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2023-04-06 15:00:00'},
  {'dt': 1680804000,
   'main': {'temp': 7.43,
    'feels_like': 5.29,
    'temp_min': 7.43,
    'temp_max': 7.43,
    'pressure': 1020,
    'sea_level': 1020,
    'grnd_level': 1015,
    'humidity': 50,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'clouds': {'all': 85},
   'wind': {'speed': 3.21, 'deg': 99, 'gust': 6.09},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2023-04-06 18:00:00'},
  {'dt': 1680814800,
   'main': {'temp': 4.96,
    'feels_like': 2.38,
    'temp_min': 4.96,
    'temp_max': 4.96,
    'pressure': 1021,
    'sea_level': 1021,
    'grnd_level': 1015,
    'humidity': 57,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'clouds': {'all': 7},
   'wind': {'speed': 3.11, 'deg': 105, 'gust': 8},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2023-04-06 21:00:00'},
  {'dt': 1680825600,
   'main': {'temp': 3.27,
    'feels_like': 0.87,
    'temp_min': 3.27,
    'temp_max': 3.27,
    'pressure': 1021,
    'sea_level': 1021,
    'grnd_level': 1015,
    'humidity': 60,
    'temp_kf': 0},
   'weather': [{'id': 800,
     'main': 'Clear',
     'description': 'clear sky',
     'icon': '01n'}],
   'clouds': {'all': 4},
   'wind': {'speed': 2.48, 'deg': 111, 'gust': 5.25},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2023-04-07 00:00:00'},
  {'dt': 1680836400,
   'main': {'temp': 2.06,
    'feels_like': -0.08,
    'temp_min': 2.06,
    'temp_max': 2.06,
    'pressure': 1020,
    'sea_level': 1020,
    'grnd_level': 1015,
    'humidity': 63,
    'temp_kf': 0},
   'weather': [{'id': 801,
     'main': 'Clouds',
     'description': 'few clouds',
     'icon': '02n'}],
   'clouds': {'all': 21},
   'wind': {'speed': 2.02, 'deg': 97, 'gust': 3.32},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2023-04-07 03:00:00'},
  {'dt': 1680847200,
   'main': {'temp': 3.23,
    'feels_like': 1.18,
    'temp_min': 3.23,
    'temp_max': 3.23,
    'pressure': 1020,
    'sea_level': 1020,
    'grnd_level': 1015,
    'humidity': 59,
    'temp_kf': 0},
   'weather': [{'id': 802,
     'main': 'Clouds',
     'description': 'scattered clouds',
     'icon': '03d'}],
   'clouds': {'all': 43},
   'wind': {'speed': 2.12, 'deg': 74, 'gust': 3.85},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2023-04-07 06:00:00'},
  {'dt': 1680858000,
   'main': {'temp': 7.49,
    'feels_like': 5.37,
    'temp_min': 7.49,
    'temp_max': 7.49,
    'pressure': 1021,
    'sea_level': 1021,
    'grnd_level': 1015,
    'humidity': 47,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': {'all': 88},
   'wind': {'speed': 3.2, 'deg': 58, 'gust': 4.25},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2023-04-07 09:00:00'},
  {'dt': 1680868800,
   'main': {'temp': 9.24,
    'feels_like': 7.21,
    'temp_min': 9.24,
    'temp_max': 9.24,
    'pressure': 1021,
    'sea_level': 1021,
    'grnd_level': 1015,
    'humidity': 48,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': {'all': 93},
   'wind': {'speed': 3.7, 'deg': 49, 'gust': 4.12},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2023-04-07 12:00:00'},
  {'dt': 1680879600,
   'main': {'temp': 6.01,
    'feels_like': 3.14,
    'temp_min': 6.01,
    'temp_max': 6.01,
    'pressure': 1021,
    'sea_level': 1021,
    'grnd_level': 1015,
    'humidity': 83,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': {'all': 100},
   'wind': {'speed': 3.92, 'deg': 34, 'gust': 5.62},
   'visibility': 10000,
   'pop': 0.34,
   'rain': {'3h': 0.13},
   'sys': {'pod': 'd'},
   'dt_txt': '2023-04-07 15:00:00'},
  {'dt': 1680890400,
   'main': {'temp': 4.9,
    'feels_like': 2.24,
    'temp_min': 4.9,
    'temp_max': 4.9,
    'pressure': 1022,
    'sea_level': 1022,
    'grnd_level': 1016,
    'humidity': 90,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10n'}],
   'clouds': {'all': 100},
   'wind': {'speed': 3.2, 'deg': 15, 'gust': 6.07},
   'visibility': 10000,
   'pop': 0.61,
   'rain': {'3h': 0.72},
   'sys': {'pod': 'n'},
   'dt_txt': '2023-04-07 18:00:00'},
  {'dt': 1680901200,
   'main': {'temp': 5.01,
    'feels_like': 2.72,
    'temp_min': 5.01,
    'temp_max': 5.01,
    'pressure': 1022,
    'sea_level': 1022,
    'grnd_level': 1017,
    'humidity': 93,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'clouds': {'all': 100},
   'wind': {'speed': 2.74, 'deg': 358, 'gust': 5.1},
   'visibility': 10000,
   'pop': 0.03,
   'sys': {'pod': 'n'},
   'dt_txt': '2023-04-07 21:00:00'},
  {'dt': 1680912000,
   'main': {'temp': 5.18,
    'feels_like': 2.78,
    'temp_min': 5.18,
    'temp_max': 5.18,
    'pressure': 1022,
    'sea_level': 1022,
    'grnd_level': 1017,
    'humidity': 95,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10n'}],
   'clouds': {'all': 100},
   'wind': {'speed': 2.92, 'deg': 349, 'gust': 6.06},
   'visibility': 10000,
   'pop': 0.23,
   'rain': {'3h': 0.21},
   'sys': {'pod': 'n'},
   'dt_txt': '2023-04-08 00:00:00'},
  {'dt': 1680922800,
   'main': {'temp': 5.06,
    'feels_like': 2.74,
    'temp_min': 5.06,
    'temp_max': 5.06,
    'pressure': 1022,
    'sea_level': 1022,
    'grnd_level': 1017,
    'humidity': 96,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'clouds': {'all': 100},
   'wind': {'speed': 2.78, 'deg': 356, 'gust': 5.75},
   'visibility': 10000,
   'pop': 0.07,
   'sys': {'pod': 'n'},
   'dt_txt': '2023-04-08 03:00:00'},
  {'dt': 1680933600,
   'main': {'temp': 5.24,
    'feels_like': 3.03,
    'temp_min': 5.24,
    'temp_max': 5.24,
    'pressure': 1023,
    'sea_level': 1023,
    'grnd_level': 1018,
    'humidity': 97,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': {'all': 100},
   'wind': {'speed': 2.69, 'deg': 4, 'gust': 6.29},
   'visibility': 10000,
   'pop': 0.24,
   'rain': {'3h': 0.22},
   'sys': {'pod': 'd'},
   'dt_txt': '2023-04-08 06:00:00'},
  {'dt': 1680944400,
   'main': {'temp': 5.75,
    'feels_like': 3.67,
    'temp_min': 5.75,
    'temp_max': 5.75,
    'pressure': 1024,
    'sea_level': 1024,
    'grnd_level': 1018,
    'humidity': 96,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': {'all': 100},
   'wind': {'speed': 2.65, 'deg': 16, 'gust': 5.26},
   'visibility': 10000,
   'pop': 0.86,
   'rain': {'3h': 0.41},
   'sys': {'pod': 'd'},
   'dt_txt': '2023-04-08 09:00:00'},
  {'dt': 1680955200,
   'main': {'temp': 9.12,
    'feels_like': 8.06,
    'temp_min': 9.12,
    'temp_max': 9.12,
    'pressure': 1024,
    'sea_level': 1024,
    'grnd_level': 1019,
    'humidity': 80,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': {'all': 100},
   'wind': {'speed': 2.13, 'deg': 0, 'gust': 2.97},
   'visibility': 10000,
   'pop': 0.49,
   'rain': {'3h': 0.12},
   'sys': {'pod': 'd'},
   'dt_txt': '2023-04-08 12:00:00'},
  {'dt': 1680966000,
   'main': {'temp': 9.52,
    'feels_like': 7.54,
    'temp_min': 9.52,
    'temp_max': 9.52,
    'pressure': 1024,
    'sea_level': 1024,
    'grnd_level': 1019,
    'humidity': 81,
    'temp_kf': 0},
   'weather': [{'id': 500,
     'main': 'Rain',
     'description': 'light rain',
     'icon': '10d'}],
   'clouds': {'all': 100},
   'wind': {'speed': 3.74, 'deg': 353, 'gust': 5.27},
   'visibility': 10000,
   'pop': 0.22,
   'rain': {'3h': 0.16},
   'sys': {'pod': 'd'},
   'dt_txt': '2023-04-08 15:00:00'},
  {'dt': 1680976800,
   'main': {'temp': 7.63,
    'feels_like': 5.23,
    'temp_min': 7.63,
    'temp_max': 7.63,
    'pressure': 1025,
    'sea_level': 1025,
    'grnd_level': 1019,
    'humidity': 88,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'clouds': {'all': 100},
   'wind': {'speed': 3.74, 'deg': 354, 'gust': 6.59},
   'visibility': 10000,
   'pop': 0.07,
   'sys': {'pod': 'n'},
   'dt_txt': '2023-04-08 18:00:00'},
  {'dt': 1680987600,
   'main': {'temp': 6.04,
    'feels_like': 3.32,
    'temp_min': 6.04,
    'temp_max': 6.04,
    'pressure': 1025,
    'sea_level': 1025,
    'grnd_level': 1020,
    'humidity': 88,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'clouds': {'all': 100},
   'wind': {'speed': 3.67, 'deg': 359, 'gust': 6.17},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2023-04-08 21:00:00'},
  {'dt': 1680998400,
   'main': {'temp': 5.45,
    'feels_like': 2.81,
    'temp_min': 5.45,
    'temp_max': 5.45,
    'pressure': 1025,
    'sea_level': 1025,
    'grnd_level': 1020,
    'humidity': 91,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'clouds': {'all': 100},
   'wind': {'speed': 3.35, 'deg': 353, 'gust': 6.81},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2023-04-09 00:00:00'},
  {'dt': 1681009200,
   'main': {'temp': 4.87,
    'feels_like': 1.82,
    'temp_min': 4.87,
    'temp_max': 4.87,
    'pressure': 1025,
    'sea_level': 1025,
    'grnd_level': 1020,
    'humidity': 92,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'clouds': {'all': 100},
   'wind': {'speed': 3.79, 'deg': 354, 'gust': 7.83},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2023-04-09 03:00:00'},
  {'dt': 1681020000,
   'main': {'temp': 4.79,
    'feels_like': 1.64,
    'temp_min': 4.79,
    'temp_max': 4.79,
    'pressure': 1025,
    'sea_level': 1025,
    'grnd_level': 1020,
    'humidity': 90,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': {'all': 100},
   'wind': {'speed': 3.94, 'deg': 353, 'gust': 8.07},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2023-04-09 06:00:00'},
  {'dt': 1681030800,
   'main': {'temp': 6.2,
    'feels_like': 3.28,
    'temp_min': 6.2,
    'temp_max': 6.2,
    'pressure': 1026,
    'sea_level': 1026,
    'grnd_level': 1020,
    'humidity': 74,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': {'all': 99},
   'wind': {'speed': 4.1, 'deg': 353, 'gust': 5.32},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2023-04-09 09:00:00'},
  {'dt': 1681041600,
   'main': {'temp': 6.16,
    'feels_like': 3.32,
    'temp_min': 6.16,
    'temp_max': 6.16,
    'pressure': 1026,
    'sea_level': 1026,
    'grnd_level': 1020,
    'humidity': 70,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': {'all': 99},
   'wind': {'speed': 3.94, 'deg': 341, 'gust': 4.77},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2023-04-09 12:00:00'},
  {'dt': 1681052400,
   'main': {'temp': 6.15,
    'feels_like': 3.51,
    'temp_min': 6.15,
    'temp_max': 6.15,
    'pressure': 1025,
    'sea_level': 1025,
    'grnd_level': 1020,
    'humidity': 66,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': {'all': 100},
   'wind': {'speed': 3.59, 'deg': 337, 'gust': 4.6},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2023-04-09 15:00:00'},
  {'dt': 1681063200,
   'main': {'temp': 5.02,
    'feels_like': 2.93,
    'temp_min': 5.02,
    'temp_max': 5.02,
    'pressure': 1026,
    'sea_level': 1026,
    'grnd_level': 1020,
    'humidity': 73,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'clouds': {'all': 100},
   'wind': {'speed': 2.49, 'deg': 347, 'gust': 4.68},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2023-04-09 18:00:00'},
  {'dt': 1681074000,
   'main': {'temp': 4.72,
    'feels_like': 3.16,
    'temp_min': 4.72,
    'temp_max': 4.72,
    'pressure': 1026,
    'sea_level': 1026,
    'grnd_level': 1020,
    'humidity': 74,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'clouds': {'all': 100},
   'wind': {'speed': 1.89, 'deg': 334, 'gust': 3.89},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2023-04-09 21:00:00'},
  {'dt': 1681084800,
   'main': {'temp': 4.34,
    'feels_like': 3.13,
    'temp_min': 4.34,
    'temp_max': 4.34,
    'pressure': 1025,
    'sea_level': 1025,
    'grnd_level': 1020,
    'humidity': 73,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'clouds': {'all': 100},
   'wind': {'speed': 1.55, 'deg': 335, 'gust': 2.65},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2023-04-10 00:00:00'},
  {'dt': 1681095600,
   'main': {'temp': 4,
    'feels_like': 2.56,
    'temp_min': 4,
    'temp_max': 4,
    'pressure': 1025,
    'sea_level': 1025,
    'grnd_level': 1019,
    'humidity': 75,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04n'}],
   'clouds': {'all': 100},
   'wind': {'speed': 1.69, 'deg': 341, 'gust': 2.99},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'n'},
   'dt_txt': '2023-04-10 03:00:00'},
  {'dt': 1681106400,
   'main': {'temp': 4.17,
    'feels_like': 2.64,
    'temp_min': 4.17,
    'temp_max': 4.17,
    'pressure': 1025,
    'sea_level': 1025,
    'grnd_level': 1019,
    'humidity': 71,
    'temp_kf': 0},
   'weather': [{'id': 804,
     'main': 'Clouds',
     'description': 'overcast clouds',
     'icon': '04d'}],
   'clouds': {'all': 99},
   'wind': {'speed': 1.79, 'deg': 339, 'gust': 2.81},
   'visibility': 10000,
   'pop': 0,
   'sys': {'pod': 'd'},
   'dt_txt': '2023-04-10 06:00:00'},
  {'dt': 1681117200,
   'main': {'temp': 7.28,
    'feels_like': 7.28,
    'temp_min': 7.28,
    'temp_max': 7.28,
    'pressure': 1024,
    'sea_level': 1024,
    'grnd_level': 1019,
    'humidity': 50,
    'temp_kf': 0},
   'weather': [{'id': 803,
     'main': 'Clouds',
     'description': 'broken clouds',
     'icon': '04d'}],

Now we've discovered what information we have to work with. Let's decide what we want to keep and what we wish to lose.

I feel that from json['list'] it would be good to keep
- 'weather.main', 'weather.description', 'dt_txt', 'main.temp', 'main.feels_like' 'clouds.all', 'rain.3h', 'snow.3h' 'wind.speed', 'wind.deg', 'main.humidity', 'main.pressure'. 

And from json['city'] it would be good to keep 
- 'name' and 'country. 

Just to make sure that we got the right place. And as an added extra we'll also include the time that API call was made, so we know how up to date our forecast is.

**Optional:** let's get a timestamp of when we get the data. Datetime uses the uses the current time of the system, which on local computers is normally correct. But as we're in the cloud, computers are not always in our country, and we therefore add on the timezone module to ensure that our timestamp is local to us and not the computer.

In [3]:
tz = pytz.timezone('Europe/Berlin')
now = datetime.now().astimezone(tz)

now

datetime.datetime(2023, 4, 5, 15, 33, 6, 968793, tzinfo=<DstTzInfo 'Europe/Berlin' CEST+2:00:00 DST>)

**Next** let's loop through the json['list'] information get the weather information

In [4]:
# we'll store the information in this dicitonary:
weather_dict = {'city': [],
                'country': [],
                'forecast_time': [],
                'outlook': [],
                'detailed_outlook': [],
                'temperature': [],
                'temperature_feels_like': [],
                'clouds': [],
                'rain': [],
                'snow': [],
                'wind_speed': [],
                'wind_deg': [],
                'humidity': [],
                'pressure': [],
                'information_retrieved_at': []
                }

# let's begin the loop
for i in json['list']:
  weather_dict['city'].append(json['city']['name'])
  weather_dict['country'].append(json['city']['country'])
  weather_dict['forecast_time'].append(i['dt_txt'])
  weather_dict['outlook'].append(i['weather'][0]['main'])
  weather_dict['detailed_outlook'].append(i['weather'][0]['description'])
  weather_dict['temperature'].append(i['main']['temp'])
  weather_dict['temperature_feels_like'].append(i['main']['feels_like'])
  weather_dict['clouds'].append(i['clouds']['all'])
  # sometimes the data is missing for rain and snow. As it is not always raining or snowing
  # we cannot make a DataFrame unless the lists are all the same length, therefore missing values are bad
  # here we say try to append a value if there is one. If not, append a 0
  try:
      weather_dict['rain'].append(i['rain']['3h'])
  except:
      weather_dict['rain'].append('0')
  try:
      weather_dict['snow'].append(i['snow']['3h'])
  except:
      weather_dict['snow'].append('0')
  weather_dict['wind_speed'].append(i['wind']['speed'])
  weather_dict['wind_deg'].append(i['wind']['deg'])
  weather_dict['humidity'].append(i['main']['humidity'])
  weather_dict['pressure'].append(i['main']['pressure'])
  weather_dict['information_retrieved_at'].append(now.strftime("%d/%m/%Y %H:%M:%S"))

**Now** we convert our dictionary to a DataFrame

In [5]:
weather_from_dict_df = pd.DataFrame(weather_dict)

weather_from_dict_df.head()

,city,country,forecast_time,outlook,detailed_outlook,temperature,temperature_feels_like,clouds,rain,snow,wind_speed,wind_deg,humidity,pressure,information_retrieved_at
0,Berlin,DE,2023-04-05 15:00:00,Rain,light rain,7.65,6.42,83,0.74,0,2.04,332,53,1014,05/04/2023 15:33:06
1,Berlin,DE,2023-04-05 18:00:00,Rain,light rain,6.10,6.10,90,0.48,0,0.71,38,64,1018,05/04/2023 15:33:06
2,Berlin,DE,2023-04-05 21:00:00,Rain,light rain,3.85,2.41,85,0.15,0,1.67,163,76,1022,05/04/2023 15:33:06
3,Berlin,DE,2023-04-06 00:00:00,Clouds,broken clouds,2.16,0.18,60,0,0,1.90,180,82,1022,05/04/2023 15:33:06
4,Berlin,DE,2023-04-06 03:00:00,Clouds,few clouds,1.03,-0.69,20,0,0,1.57,182,82,1022,05/04/2023 15:33:06

**As a final step**, to keep everything tidy: let's bring everything we did together in a function. And allow the function to take a list of cities as an input

In [6]:
def get_weather_loop(cities):

  API_key = 'YOUR_API_KEY_HERE'

  tz = pytz.timezone('Europe/Berlin')
  now = datetime.now().astimezone(tz)

  weather_dict = {'city': [],
                'country': [],
                'forecast_time': [],
                'outlook': [],
                'detailed_outlook': [],
                'temperature': [],
                'temperature_feels_like': [],
                'clouds': [],
                'rain': [],
                'snow': [],
                'wind_speed': [],
                'wind_deg': [],
                'humidity': [],
                'pressure': [],
                'information_retrieved_at': []}

  for city in cities:
    url = (f"http://api.openweathermap.org/data/2.5/forecast?q={city}&appid={API_key}&units=metric")
    response = requests.get(url)
    json = response.json()

    for i in json['list']:
      weather_dict['city'].append(json['city']['name'])
      weather_dict['country'].append(json['city']['country'])
      weather_dict['forecast_time'].append(i['dt_txt'])
      weather_dict['outlook'].append(i['weather'][0]['main'])
      weather_dict['detailed_outlook'].append(i['weather'][0]['description'])
      weather_dict['temperature'].append(i['main']['temp'])
      weather_dict['temperature_feels_like'].append(i['main']['feels_like'])
      weather_dict['clouds'].append(i['clouds']['all'])
      try:
          weather_dict['rain'].append(i['rain']['3h'])
      except:
          weather_dict['rain'].append('0')
      try:
          weather_dict['snow'].append(i['snow']['3h'])
      except:
          weather_dict['snow'].append('0')
      weather_dict['wind_speed'].append(i['wind']['speed'])
      weather_dict['wind_deg'].append(i['wind']['deg'])
      weather_dict['humidity'].append(i['main']['humidity'])
      weather_dict['pressure'].append(i['main']['pressure'])
      weather_dict['information_retrieved_at'].append(now.strftime("%d/%m/%Y %H:%M:%S"))

  return pd.DataFrame(weather_dict)

In [ ]:
get_weather_loop(['Berlin', 'London'])

# Solution using `.json_normalize()`

**First** we need to make an API call to get our information

In [8]:
city = 'Berlin'
API_key = '7b06eb360cd2211667fee2a00f044e8e'
url = (f"http://api.openweathermap.org/data/2.5/forecast?q={city}&appid={API_key}&units=metric") 
response = requests.get(url)
json = response.json()

If we now try to use `.json_normalize()` on the `list` part of the json, you'll see that json_normalize can get confused when it hits a list instead of a subdictionary. Take a look at the weather column below

In [9]:
pd.DataFrame((json['list'])).head()

,dt,main,weather,clouds,wind,visibility,pop,rain,sys,dt_txt
0,1680706800,"{'temp': 8.12, 'feels_like': 6.97, 'temp_min':...","[{'id': 500, 'main': 'Rain', 'description': 'l...",{'all': 75},"{'speed': 2.04, 'deg': 332, 'gust': 2.75}",10000,0.58,{'3h': 0.74},{'pod': 'd'},2023-04-05 15:00:00
1,1680717600,"{'temp': 7.15, 'feels_like': 7.15, 'temp_min':...","[{'id': 500, 'main': 'Rain', 'description': 'l...",{'all': 83},"{'speed': 0.71, 'deg': 38, 'gust': 0.95}",10000,0.52,{'3h': 0.48},{'pod': 'n'},2023-04-05 18:00:00
2,1680728400,"{'temp': 5.27, 'feels_like': 4.04, 'temp_min':...","[{'id': 500, 'main': 'Rain', 'description': 'l...",{'all': 82},"{'speed': 1.67, 'deg': 163, 'gust': 2.62}",10000,0.20,{'3h': 0.15},{'pod': 'n'},2023-04-05 21:00:00
3,1680739200,"{'temp': 2.16, 'feels_like': 0.18, 'temp_min':...","[{'id': 803, 'main': 'Clouds', 'description': ...",{'all': 60},"{'speed': 1.9, 'deg': 180, 'gust': 3.28}",10000,0.00,NaN,{'pod': 'n'},2023-04-06 00:00:00
4,1680750000,"{'temp': 1.03, 'feels_like': -0.69, 'temp_min'...","[{'id': 801, 'main': 'Clouds', 'description': ...",{'all': 20},"{'speed': 1.57, 'deg': 182, 'gust': 2.25}",10000,0.00,NaN,{'pod': 'n'},2023-04-06 03:00:00

To fix this we need to flatten the nested list using the parameter `record_path`, and then select the other columns we'd like using the parameter `meta`. At the end of the json_normalize parameters we have `errors='ignore'`, which means that if ever there is a missing value in the JSON, a `NaN` gets inserted into the table. If you'd like more information, please check out the [docs](https://pandas.pydata.org/docs/reference/api/pandas.json_normalize.html)

In [10]:
json_norm_df = pd.json_normalize(json['list'], 
                                record_path=['weather'], 
                                meta=['dt_txt', ['main', 'temp'], ['main', 'feels_like'], ['clouds', 'all'], ['rain', '3h'], ['snow', '3h'], ['wind', 'speed'], ['wind', 'deg'], ['main', 'humidity'], ['main', 'pressure']],
                                errors='ignore')

json_norm_df.head()

,id,main,description,icon,dt_txt,main.temp,main.feels_like,clouds.all,rain.3h,snow.3h,wind.speed,wind.deg,main.humidity,main.pressure
0,500,Rain,light rain,10d,2023-04-05 15:00:00,8.12,6.97,75,0.74,NaN,2.04,332,51,1010
1,500,Rain,light rain,10n,2023-04-05 18:00:00,7.15,7.15,83,0.48,NaN,0.71,38,57,1014
2,500,Rain,light rain,10n,2023-04-05 21:00:00,5.27,4.04,82,0.15,NaN,1.67,163,68,1018
3,803,Clouds,broken clouds,04n,2023-04-06 00:00:00,2.16,0.18,60,NaN,NaN,1.9,180,82,1022
4,801,Clouds,few clouds,02n,2023-04-06 03:00:00,1.03,-0.69,20,NaN,NaN,1.57,182,82,1022

Now let's tidy this DataFrame up by
- dropping some columns
- renaming some columns
- adding some columns

In [11]:
# drop id and icon
json_norm_df = json_norm_df.drop(columns=['id', 'icon']).copy()

In [12]:
# rename some columns
json_norm_df.rename(columns={'main': 'outlook',
                             'description': 'detailed_outlook',
                             'dt_txt': 'forecast_time',
                             'main.temp': 'temperature',
                             'main.feels_like': 'temperature_feels_like',
                             'clouds.all': 'clouds',
                             'rain.3h': 'rain',
                             'snow.3h': 'snow',
                             'wind.speed': 'wind_speed',
                             'wind.deg': 'wind_deg',
                             'main.humidity': 'humidity',
                             'main.pressure': 'pressure',},
                    inplace=True)

In [13]:
# add some columns
json_norm_df.insert(0, 'city', json['city']['name'])
json_norm_df.insert(1, 'country', json['city']['country'])
json_norm_df['information_retrieved_at'] = now.strftime("%d/%m/%Y %H:%M:%S")

# rearrange the columns
json_norm_df = json_norm_df[['city', 'country', 'forecast_time', 'outlook', 'detailed_outlook',
       'temperature', 'temperature_feels_like', 'clouds', 'rain', 'snow',
       'wind_speed', 'wind_deg', 'humidity', 'pressure',
       'information_retrieved_at']]

json_norm_df.head()

,city,country,forecast_time,outlook,detailed_outlook,temperature,temperature_feels_like,clouds,rain,snow,wind_speed,wind_deg,humidity,pressure,information_retrieved_at
0,Berlin,DE,2023-04-05 15:00:00,Rain,light rain,8.12,6.97,75,0.74,NaN,2.04,332,51,1010,05/04/2023 15:33:06
1,Berlin,DE,2023-04-05 18:00:00,Rain,light rain,7.15,7.15,83,0.48,NaN,0.71,38,57,1014,05/04/2023 15:33:06
2,Berlin,DE,2023-04-05 21:00:00,Rain,light rain,5.27,4.04,82,0.15,NaN,1.67,163,68,1018,05/04/2023 15:33:06
3,Berlin,DE,2023-04-06 00:00:00,Clouds,broken clouds,2.16,0.18,60,NaN,NaN,1.9,180,82,1022,05/04/2023 15:33:06
4,Berlin,DE,2023-04-06 03:00:00,Clouds,few clouds,1.03,-0.69,20,NaN,NaN,1.57,182,82,1022,05/04/2023 15:33:06

Now we have a very similar DataFrame to what we had with the for loop. Again, let's put this in a function that can take a list of cities

In [14]:
def get_weather_norm(cities):
  
  API_key = '7b06eb360cd2211667fee2a00f044e8e'

  df_list = []

  for city in cities:
    url = (f"http://api.openweathermap.org/data/2.5/forecast?q={city}&appid={API_key}&units=metric") 
    response = requests.get(url)
    json = response.json()

    json_norm_df = pd.json_normalize(json['list'], 
                                record_path=['weather'], 
                                meta=['dt_txt', ['main', 'temp'], ['main', 'feels_like'], ['clouds', 'all'], ['rain', '3h'], ['snow', '3h'], ['wind', 'speed'], ['wind', 'deg'], ['main', 'humidity'], ['main', 'pressure']], 
                                errors='ignore')
    json_norm_df.drop(columns=['id', 'icon'], inplace=True)
    json_norm_df.rename(columns={'main': 'outlook',
                             'description': 'detailed_outlook',
                             'dt_txt': 'forecast_time',
                             'main.temp': 'temperature',
                             'main.feels_like': 'temperature_feels_like',
                             'clouds.all': 'clouds',
                             'rain.3h': 'rain',
                             'snow.3h': 'snow',
                             'wind.speed': 'wind_speed',
                             'wind.deg': 'wind_deg',
                             'main.humidity': 'humidity',
                             'main.pressure': 'pressure',},
                    inplace=True)
    json_norm_df.insert(0, 'city', json['city']['name'])
    json_norm_df.insert(1, 'country', json['city']['country'])
    json_norm_df['information_retrieved_at'] = now.strftime("%d/%m/%Y %H:%M:%S")
    json_norm_df[['city', 'country', 'forecast_time', 'outlook', 'detailed_outlook',
          'temperature', 'temperature_feels_like', 'clouds', 'rain', 'snow',
          'wind_speed', 'wind_deg', 'humidity', 'pressure',
          'information_retrieved_at']]
    df_list.append(json_norm_df)
  return pd.concat(df_list, ignore_index=True)

In [15]:
get_weather_norm(['Berlin', 'Copenhagen'])

,city,country,outlook,detailed_outlook,forecast_time,temperature,temperature_feels_like,clouds,rain,snow,wind_speed,wind_deg,humidity,pressure,information_retrieved_at
0,Berlin,DE,Rain,light rain,2023-04-05 15:00:00,8.12,6.97,75,0.74,NaN,2.04,332,51,1010,05/04/2023 15:33:06
1,Berlin,DE,Rain,light rain,2023-04-05 18:00:00,7.15,7.15,83,0.48,NaN,0.71,38,57,1014,05/04/2023 15:33:06
2,Berlin,DE,Rain,light rain,2023-04-05 21:00:00,5.27,4.04,82,0.15,NaN,1.67,163,68,1018,05/04/2023 15:33:06
3,Berlin,DE,Clouds,broken clouds,2023-04-06 00:00:00,2.16,0.18,60,NaN,NaN,1.9,180,82,1022,05/04/2023 15:33:06
4,Berlin,DE,Clouds,few clouds,2023-04-06 03:00:00,1.03,-0.69,20,NaN,NaN,1.57,182,82,1022,05/04/2023 15:33:06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,Copenhagen,DK,Clouds,overcast clouds,2023-04-10 00:00:00,4.06,2.08,100,NaN,NaN,2.19,54,79,1025,05/04/2023 15:33:06
76,Copenhagen,DK,Clouds,overcast clouds,2023-04-10 03:00:00,3.77,1.77,97,NaN,NaN,2.16,55,82,1025,05/04/2023 15:33:06
77,Copenhagen,DK,Clouds,overcast clouds,2023-04-10 06:00:00,4.19,1.86,98,NaN,NaN,2.59,25,86,1025,05/04/2023 15:33:06
78,Copenhagen,DK,Rain,light rain,2023-04-10 09:00:00,4.93,2.6,100,0.2,NaN,2.76,17,89,1025,05/04/2023 15:33:06
79,Copenhagen,DK,Rain,light rain,2023-04-10 12:00:00,5.66,3.88,100,0.35,NaN,2.27,45,92,1024,05/04/2023 15:33:06

In [18]:
get_weather_norm

# Establishing connection from python to the sql

In [19]:
!pip install pymysql
import sqlalchemy

Requirement already satisfied: pymysql in /Users/Priyatam/opt/anaconda3/lib/python3.9/site-packages (1.0.3)

In [20]:
schema="gans"   # name of the database you want to use here
host="127.0.0.1"        # to connect to your local server
user="root"
password="1234" # your password!!!!
port=3306
connection_details = f'mysql+pymysql://{user}:{password}@{host}:{port}/{schema}'

In [21]:
get_weather_norm(['Berlin', 'Copenhagen']).to_sql('weather',con=connection_details,if_exists='append',index=False)

80

In [ ]:
#Successfully established the connection from python to the sql